<div class="employee-div">
  <h1 class="bg-info">

    {{employee.name}}
  </h1>
  <div class="row vertical-align">
    <div class="col-4">
      <img class="imageclass" [src]="employee.photoPath" alt="">

    </div>
    <div class="col-8 ">
      <div class="row ">

        <div class="col-4">
          Gender
        </div>
        <div class="col-4">
          {{employee.gender}}

        </div>
      </div>


      <div class="row">

        <div class="col-4">
          Gender
        </div>
        <div class="col-4">
          {{employee.gender}}

        </div>
      </div>


      <div class="row">

        <div class="col-4">
          Email
        </div>
        <div class="col-4">
          {{employee.email}}

        </div>
      </div>
    </div>
  </div>
</div>
